In [191]:
# Import packages
import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv(r'C:\Users\u164590\Downloads\Wiris dataset for analyst test 2023\test_dataset.csv')

In [192]:
#Check the data
df.head()

,id,creation_date,creation_datetime,sender_id,type,license_status,os,trial_start_date,activation_date,date_purchased,business_area,industry_group,industry,account_id,country,title,email_optout,favorite,academic,contact_community_opps
0,c5636821-837c-47c3-910e-aacf4bb5f3dd,2023-05-02,2023-05-02 00:00:02.332,0476dda4-c7c5-5ae9-8b59-e6381b6eebdb,CREATED_WORK_SESSION,active,windows,2023-05-01,2023-05-01,2020-08-04 00:00:00,NAM,Other,Other - ISP,0010N00005AuehTQAR,US,NaN,True,False,False,0.0
1,02127ca9-f620-47ff-9650-025798b0390c,2023-05-02,2023-05-02 00:04:06.163,0476dda4-c7c5-5ae9-8b59-e6381b6eebdb,CREATED_WORK_SESSION,active,windows,2023-05-01,2023-05-01,2020-08-04 00:00:00,NAM,Other,Other - ISP,0010N00005AuehTQAR,US,NaN,True,False,False,0.0
2,813d08be-47a0-402b-acd0-69b2b32107f6,2023-03-03,2023-03-03 17:35:12.530,048a6d32-fb1e-500e-80da-53a332b2ba6a,INSERTED_FORMULA,trial,unknown,2023-03-03,NaN,NaN,Other,Other,Other - ISP,0010N00005AuehTQAR,NaN,NaN,True,False,False,0.0
3,8549441a-128c-4854-98f5-4a8613bc1fa5,2022-12-13,2022-12-13 19:51:18.922,05975162-fc45-5af1-bd44-646edf5c6b3b,CREATED_WORK_SESSION,trial,windows,2022-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6d1af37e-956c-42c6-a859-f2e2474b6118,2022-12-21,2022-12-21 23:59:37.244,05a1271f-850e-5a2a-bfcd-b883288816b5,CREATED_WORK_SESSION,trial,windows,2022-11-16 00:00:00,NaN,NaN,EMEA,University,university_campus,0010N00005IXS3sQAH,GR,NaN,True,False,False,0.0

In [183]:
#Check the dimensions of our data
df.shape

(1875607, 20)

In [184]:
#Check data types
df.dtypes

id                         object
creation_date              object
creation_datetime          object
sender_id                  object
type                       object
license_status             object
os                         object
trial_start_date           object
activation_date            object
date_purchased             object
business_area              object
industry_group             object
industry                   object
account_id                 object
country                    object
title                      object
email_optout               object
favorite                   object
academic                   object
contact_community_opps    float64
dtype: object

In [185]:
#Convert date variables' data type to datetime
df['creation_datetime'] = pd.to_datetime(df['creation_datetime'])
df['trial_start_date'] = pd.to_datetime(df['trial_start_date'])
df['activation_date'] = pd.to_datetime(df['activation_date'])
df['date_purchased'] = pd.to_datetime(df['activation_date'])
df.dtypes

id                                object
creation_date                     object
creation_datetime         datetime64[ns]
sender_id                         object
type                              object
license_status                    object
os                                object
trial_start_date          datetime64[ns]
activation_date           datetime64[ns]
date_purchased            datetime64[ns]
business_area                     object
industry_group                    object
industry                          object
account_id                        object
country                           object
title                             object
email_optout                      object
favorite                          object
academic                          object
contact_community_opps           float64
dtype: object

In [186]:
# Drop duplicates if there is any
df.drop_duplicates()

# Check percentage of missing data
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

id - 0%
creation_date - 0%
creation_datetime - 0%
sender_id - 0%
type - 0%
license_status - 0%
os - 0%
trial_start_date - 0%
activation_date - 60%
date_purchased - 60%
business_area - 11%
industry_group - 11%
industry - 17%
account_id - 11%
country - 25%
title - 87%
email_optout - 11%
favorite - 11%
academic - 11%
contact_community_opps - 11%

In [187]:
# Dropping columns that are not necessary for our analysis

# column 'creation_date' is redundant because the date information is stored in 'creation_date_time' as well
df = df.drop('creation_date', axis = 1) # drop 'creation_date'

df.head()

,id,creation_datetime,sender_id,type,license_status,os,trial_start_date,activation_date,date_purchased,business_area,industry_group,industry,account_id,country,title,email_optout,favorite,academic,contact_community_opps
0,c5636821-837c-47c3-910e-aacf4bb5f3dd,2023-05-02 00:00:02.332,0476dda4-c7c5-5ae9-8b59-e6381b6eebdb,CREATED_WORK_SESSION,active,windows,2023-05-01,2023-05-01,2023-05-01,NAM,Other,Other - ISP,0010N00005AuehTQAR,US,NaN,True,False,False,0.0
1,02127ca9-f620-47ff-9650-025798b0390c,2023-05-02 00:04:06.163,0476dda4-c7c5-5ae9-8b59-e6381b6eebdb,CREATED_WORK_SESSION,active,windows,2023-05-01,2023-05-01,2023-05-01,NAM,Other,Other - ISP,0010N00005AuehTQAR,US,NaN,True,False,False,0.0
2,813d08be-47a0-402b-acd0-69b2b32107f6,2023-03-03 17:35:12.530,048a6d32-fb1e-500e-80da-53a332b2ba6a,INSERTED_FORMULA,trial,unknown,2023-03-03,NaT,NaT,Other,Other,Other - ISP,0010N00005AuehTQAR,NaN,NaN,True,False,False,0.0
3,8549441a-128c-4854-98f5-4a8613bc1fa5,2022-12-13 19:51:18.922,05975162-fc45-5af1-bd44-646edf5c6b3b,CREATED_WORK_SESSION,trial,windows,2022-12-13,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6d1af37e-956c-42c6-a859-f2e2474b6118,2022-12-21 23:59:37.244,05a1271f-850e-5a2a-bfcd-b883288816b5,CREATED_WORK_SESSION,trial,windows,2022-11-16,NaT,NaT,EMEA,University,university_campus,0010N00005IXS3sQAH,GR,NaN,True,False,False,0.0

In [188]:
# check 'title' column further. It had 87% missing values, can be not worth to keep.

df['title'].value_counts(dropna = False)[:30]  #check the first 30 value counts

NaN                                          1630653
Student                                        16421
student                                        13684
Teacher                                        11553
学生                                             11275
A                                              11132
Professor                                       9330
Bachelor Degrees                                6609
teacher                                         6419
radiation physicist                             4162
T                                               3915
nauczyciel                                      3827
Lecturer                                        3524
Math Teacher                                    3374
D                                               3367
professeur                                      2708
Instructor                                      2583
Matematik Öğretmeni / Mathematics Teacher       2151
E                                               1882
6409320436                                      1844
Docente                                         1842
f                                               1786
Professeur de mathématiques                     1767
R                                               1766
教师                                              1718
北京师范大学（珠海）附属高级中学                                1691
9                                               1682
physics teacher                                 1673
Professor Emeritus                              1532
นักศึกษา                                        1507
Name: title, dtype: int64

In [189]:
# So many values in different alphabet characters that might create problems. Let's drop the 'title' column completely
df = df.drop('title', axis = 1) # drop 'title'

In [190]:
file_name = 'test_wiris_prepped.csv'
df.to_csv(file_name)